GROQ_API_KEY= SET YOUR GROQ API

LANGSMITH_TRACING =  SET IT TO TRUE

LANGSMITH_ENDPOINT = GIVE LANGSMITH'S API 

LANGSMITH_API_KEY = YOUR LANGSMITH API KEY

LANGSMITH_PROJECT = YOUR LANGSMITH PROJECT NAME